.stories-header {
  position: relative;
  background-image: url("/assets/stories/mobile/moon-of-appalacia.jpg");
  height: 300px;
  z-index: 1;
}

.main-header {
  background-color: black;
}

.story-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.story-author {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.story-overlay {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
  background-blend-mode: multiply;
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
  .main-header {
    background-image: url("/assets/stories/tablet/moon-of-appalacia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .main-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(60, 0, 82, 0.315);
    mix-blend-mode: overlay;
  }
}

@media screen and (min-width: 1024px) {
  .hover-effect {
    transition: transform 0.4s ease-in-out;
  }

  .hover-effect:hover {
    transform: translateY(-40px);
  }

  .gradient-hover {
    width: 100%;
    background-image: var(--mainAccentHr);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .hover-effect:hover .gradient-hover {
    height: 6px;
    opacity: 1;
    position: absolute;
  }

  .main-header {
    background-image: url("/assets/stories/desktop/moon-of-appalacia.jpg");
  }

  .main-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      94.05% 94.05% at 0% 100%,
      hsla(28, 100%, 79%, 1),
      hsla(329, 36%, 59%, 0.5),
      hsla(229, 100%, 68%, 0)
    );
    z-index: 1;
    mix-blend-mode: screen;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .main-header:hover::before {
    opacity: 0.5;
  }
}
